
<div class="container background">
    <h1  ng-show="model.show">LIST AUTHORIZED PATIENTS</h1>
    <form>
        <input id="searchBar" value="" type="text"
               ng-model="model.patients.accessToken"
               class="form-control"
               placeholder="Enter your Access Token" required >
        <button class="bg-info text-white btn btn-info btn-block" href="#" ng-click="model.search(model.patients)" type="submit">SUBMIT
        </button>
    </form>

    <p class="h4" ng-show="model.showAuthPats">The following patients authorized to share their data with you : select a patient to view its information </p>
    <div class="list-group">
        <a data-toggle="tooltip" data-placement="bottom"  title="GET EVERYTHING FOR THIS PATIENT" href="" ng-click="model.searchEverything(item)"
           ng-repeat="item in model.authPats" ng-bind-html="item" class=" list-group-item list-group-item-action">
             {{item.patient_name}}
        </a>
    </div>
    <div ng-show="model.error" class="alert alert-danger" role="alert">
        {{model.error}}
    </div>

    <script>
    </script>
</div>

